* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

body {
    background-color: #bcbcbc;
}

h1 {
    text-align: center;
}

#container-option {
    display: flex;
    flex-direction: column;
    width: 170px;
}

h3 {
    margin-bottom: 0.5em;
}

#containerExercise {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.exercise {
    font-size: 5rem;
    margin-left: 0.5em;
}

#answer {
    font-size: 5rem;
    width: 300px;
    margin-left: 0.5em;
}

#check,
#text {
    font-size: 5rem;
    margin-left: 0.5em;
}

#text {
    text-align: center;
}

#tableResult {
    margin: 30px auto;
    border-collapse: collapse;
    width: 50vw;
    overflow-y: auto;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    font-size: 1em;
}


th {
    color: white;
}